{extend name="public/nav" /}
{block name="title"} 档案管理系统 {/block}

{block name="content"}
<style>
    html,body{
        height: 100%;
    }
    input{
        border: none;
    }
    .layui-input-block{
        margin-left: 0px;
    }
    .layui-form-select dl dd.layui-this {
        background-color: #1296db;
        color: #fff;
    }
    #img img{
        width: 120px;
        height: 120px;
        border-radius: 250px;
    }
    .layui-btn-color{
        background-color: transparent;
        color: #2D93CA;
        font-weight: bold;
        display: block;
        width: 100%;
        border: 1px solid #1296db;
    }
    .upload-img{
        width: 30.5%;
        padding: 1%;
        border: 1px solid #ccc;
        text-align: center;
        float: left;
    }
    .upload-img img{
        height: 60px;
        margin-bottom: 5px;
    }
</style>
<div class="site-content" style="background-color: #cccccc;">
    <div class="site-h1">
        <i class="layui-icon layui-icon-left" onclick="window.history.back(-1)"></i>公司编辑
    </div>
    <div class="layui-container">
        <div class="site-text" style="margin-top: 30px;">
            <form class="layui-form" method="post">
                <input type="hidden" name="id" value="{$field.id}">
                <div class="layui-form-item">
                    <div>公司名称</div>
                    <div class="layui-input-block">
                        <input type="text" value="{$field.branch_name}" name="branch_name" required lay-verify="required" placeholder=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <input type="hidden" name="branch_name_old" value="{$field.branch_name}">
                <div class="layui-form-item">
                    <div>公司电话</div>
                    <div class="layui-input-block">
                        <input type="text" value="{$field.branch_tel}" name="branch_tel" required lay-verify="required" placeholder=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div>联系人</div>
                    <div class="layui-input-block">
                        <input type="text" value="{$field.branch_user}" name="branch_user" required lay-verify="required" placeholder=""
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div>备注</div>
                    <div class="layui-input-block">
                        <textarea name="branch_desc" class="layui-textarea">{$field.branch_desc}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-color" lay-submit lay-filter="edit">保存</button>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                layui.use(['form', 'upload', 'jquery'], function () {
                    var form = layui.form, upload = layui.upload, layer = layui.layer, $ = layui.jquery;
                    //提交
                    form.on('submit(edit)', function (data) {
                        $.post('{:url("index/branch/edit")}', data.field, function (res) {
                            if (res.code == 0) {
                                layer.msg('保存成功', { icon: 6, time: 1000 }, function () {
                                    window.location.href = '{:url("index/branch/index")}';
                                })
                            } else {
                                layer.msg('保存失败');
                            }
                        }, 'json');
                        return false;
                    });
                })
            </script>
        </div>
    </div>
</div>
{/block}