{extend name="public/nav" /}
{block name="title"} 首页 {/block}

{block name="content"}
<div class="site-content">
    <div class="layui-container" style="padding: 15px;">
        <span class="layui-breadcrumb">
          <a><cite>首页</cite></a>
        </span>
        <div class="site-text">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>服务</th>
                    <th>版本</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>运行系统</td>
                    <td>{:PHP_OS}</td>
                </tr>
                <tr>
                    <td>PHP版本</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ThinkPHP</td>
                    <td>{:THINK_VERSION}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}