{extend name="public/nav" /}
{block name="title"} 档案管理系统 {/block}

{block name="content"}
<style>
    html,body{
        height: 100%;
    }
    input{
        border: none;
    }
    .layui-input-block{
        margin-left: 0px;
    }
    .layui-form-select dl dd.layui-this {
        background-color: #1296db;
        color: #fff;
    }
    #img img{
        width: 120px;
        height: 120px;
        border-radius: 250px;
    }
    .layui-btn-color{
        background-color: transparent;
        color: #2D93CA;
        font-weight: bold;
        display: block;
        width: 100%;
        border: 1px solid #1296db;
    }
</style>
<div class="site-content" style="background-color: #cccccc;">
    <div class="site-h1">
        <i class="layui-icon layui-icon-left" onclick="window.history.back(-1)"></i>角色分配
    </div>
    <div class="layui-container">
        <div class="site-text" style="margin-top: 30px;">
            <form class="layui-form" method="post">
                <input type="hidden" name="id" value="{$field.id}">
                <div class="layui-form-item">
                    <div>分配角色</div>
                    <div class="layui-input-block">
                        <select name="role_id" lay-filter="role_id">
                            {foreach $group as $g}
                                <option value="{$g.id}">{$g.group_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div>分配工作区</div>
                    <div class="layui-input-block">
                        <select name="region_id" id="region_id">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="uid" value="{$field.id}">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-color" lay-submit lay-filter="edit">保存</button>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                layui.use(['form', 'upload', 'jquery'], function () {
                    var form = layui.form,
                        upload = layui.upload,
                        layer = layui.layer,
                        $ = layui.jquery;

                    form.on('select(role_id)',function (data) {
                        var group_id = data.value;
                        $.post('{:url("index/api/group_region")}',{group_id:group_id},function (res) {
                            if (res.code == 0) {
                                var option = '';
                                $.each(res.data,function (index,item) {
                                    option += '<option value="'+item['id']+'">'+item['region_name']+'</option>';
                                })
                                console.log(option);
                                $('#region_id').html(option);
                                form.render('select')
                            } else {
                                layer.msg('获取失败');
                            }
                        },'json');
                    });
                    //提交
                    form.on('submit(edit)', function (data) {
                        if (data.field.region_id == ''){
                            layer.msg('工作区必须分配');
                        }else {
                            $.post('{:url("index/admin/audit")}', data.field, function (res) {
                                if (res.code == 0) {
                                    layer.msg('分配成功', {icon: 6, time: 1000}, function () {
                                        window.location.href = '{:url("index/admin/index")}';
                                    })
                                } else {
                                    layer.msg('分配失败');
                                }
                            }, 'json');
                        }
                        return false;
                    });
                })
            </script>
        </div>
    </div>
</div>
{/block}