{extend name="public/nav" /}
{block name="title"} 角色分配 {/block}

{block name="content"}
<div class="site-content">
    <style type="text/css">
        .layui-center {
            margin: 10vh auto;
        }

        .layui-form-label {
            width: auto !important;
            padding: 9px 5px;
        }

        .layui-input-block {
            margin-left: 100px;
        }
    </style>
    <div class="layui-container" style="padding: 15px;">
        <span class="layui-breadcrumb">
            <a href="{:url('index/index/index')}">首页</a>
            <a><cite>用户管理</cite></a>
            <a href="{:url('index/admin/index')}">用户列表</a>
            <a><cite>角色分配</cite></a>
        </span>
        <div class="site-text" style="margin-top: 10px;">
            <form class="layui-form" method="post">
                <input type="hidden" name="id" value="{$field.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">分配</label>
                    <div class="layui-input-block">
                        <select name="role_id">
                            {foreach $group as $g}
                                <option value="{$g.id}">{$g.group_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="uid" value="{$field.id}">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="edit">保存</button>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                layui.use(['form', 'upload', 'jquery'], function () {
                    var form = layui.form,
                        upload = layui.upload,
                        layer = layui.layer,
                        $ = layui.jquery;
                    //提交
                    form.on('submit(edit)', function (data) {
                        $.post('{:url("index/admin/audit")}', data.field, function (res) {
                            if (res.code == 0) {
                                layer.msg('分配成功', { icon: 6, time: 1000 }, function () {
                                    window.location.href = '{:url("index/admin/index")}';
                                })
                            } else {
                                layer.msg('分配失败');
                            }
                        }, 'json');
                        return false;
                    });
                })
            </script>
        </div>
    </div>
</div>
{/block}