{extend name="public/nav" /}
{block name="title"} 角色列表 {/block}

{block name="content"}
<div class="site-content">
    <div class="layui-container" style="padding: 15px;">
        <span class="layui-breadcrumb">
            <a href="{:url('index/index/index')}">首页</a>
            <a><cite>用户管理</cite></a>
            <a><cite>角色列表</cite></a>
        </span>
        <div class="site-text" style="margin-top: 10px;">
            <button onclick="window.location.href = '/index/group/add'"
                class="layui-btn layui-btn-sm layui-btn-radius">添加</button>
            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col width="150">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>角色名</th>
                        <!-- <th>备注</th> -->
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $group as $g}
                    <tr>
                        <td>{$g.id}</td>
                        <td>{$g.group_name}</td>
                        <!-- <td>{$g.group_remark}</td> -->
                        <td>
                            {if condition="$g.id != 1"}
                            <a href="{:url('index/group/allocation',array('id'=>$g.id))}">分配</a>
                            <a href="{:url('index/group/edit',array('id'=>$g.id))}">编辑</a>
                            <a href="javascript:;" class="del" data-id="{$g.id}" data-name="{$g.group_name}">删除</a>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            {$group->render()}
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['layer', 'jquery'], function () {
        var layer = layui.layer, $ = layui.jquery;
        //删除操作
        $('.del').click(function () {
            var id = $(this).data('id');
            var user_name = $(this).data('name');
            layer.confirm('您确定要删除 ( ' + user_name + ' ) ?', function () {
                $.post('{:url("index/group/del")}', { id: id }, function (res) {
                    layer.msg(res.msg)
                    window.location.reload();
                }, 'json');
            });
        });

    });
</script>
{/block}