{extend name="public/nav" /}
{block name="title"} 档案管理系统 {/block}

{block name="content"}
<style>
    html,body{
        height: 100%;
    }
    input{
        border: none;
    }
    .layui-input-block{
        margin-left: 0px;
    }
    .layui-form-select dl dd.layui-this {
        background-color: #1296db;
        color: #fff;
    }
    #img img{
        width: 120px;
        height: 120px;
        border-radius: 250px;
    }
    .layui-btn-color{
        background-color: transparent;
        color: #2D93CA;
        font-weight: bold;
        display: block;
        width: 100%;
        border: 1px solid #1296db;
    }
    .upload-img{
        width: 30.5%;
        padding: 1%;
        border: 1px solid #ccc;
        text-align: center;
        float: left;
    }
    .upload-img img{
        height: 60px;
        margin-bottom: 5px;
    }
</style>
<div class="site-content" style="background-color: #cccccc;">
    <div class="site-h1">
        <i class="layui-icon layui-icon-left" onclick="window.history.back(-1)"></i>档案审核
    </div>
    <div class="layui-container">
        <div class="site-text" style="margin-top: 30px;">
            <form class="layui-form" method="post">
                <input type="hidden" name="id" value="{$field.id}">
                <div class="layui-form-item">
                    <div>审核状态</div>
                    <div class="layui-input-block">
                        <select name="audit_status">
                            <option value="1">处理中</option>
                            <option value="2">已归档</option>
                            <option value="3">已注销</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div>审核原因</div>
                    <div class="layui-input-block">
                        <textarea name="audit_remark" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-color" lay-submit lay-filter="edit">保存</button>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                layui.use(['form', 'upload', 'jquery'], function () {
                    var form = layui.form,
                        upload = layui.upload,
                        layer = layui.layer,
                        $ = layui.jquery;
                    //提交
                    form.on('submit(edit)', function (data) {
                        $.post('{:url("index/archives/audit")}', data.field, function (res) {
                            if (res.code == 0) {
                                layer.msg('处理成功', { icon: 6, time: 1000 }, function () {
                                    window.location.href = '{:url("index/archives/index")}';
                                })
                            } else {
                                layer.msg('处理失败');
                            }
                        }, 'json');
                        return false;
                    });
                })
            </script>
        </div>
    </div>
</div>
{/block}